<html>

  <body>

<ul>
        {% for key, value in privateKeys.items %}
          <li> {{key}} - {{value}} </li>
        {% endfor %}
    </ul>
<ul>
        {% for key, value in account.items %}
          <li> {{key}} - {{value}} </li>
        {% endfor %}
    </ul>

  </body>

<body>
  <div>
    Welcome Here.
    <a href="/logout/">
    Sign Out
    </a>
    </div>
    <div>
      <form method='POST'>
      {% csrf_token %}
      {{form1.as_p}}
      <button type="submit" name="calimTokens">Claim Tokens</button>
      </form>
    </div>
</body>
</html>
